<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Student Table</title>
</head>
<body>
    <h1>Student Information</h1>
    <table class="student-table">
        <thead>
            <tr>
                <th>Name</th>                
                <th>University Roll Number</th>
                <th>Section</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {%for student in students%}
            <tr>
                <td>{{student['name']}}</td>
                <td>{{student['rollNo']}}</td>
                <td>{{student['section']}}</td>
                <td><a href={{student['leetcodeURL']}}>Leetcode Profile</a></td>
            </tr> 
            {%endfor%}
        </tbody>
    </table>
</body>
</html>
